body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    background-color: #3e3e42;
}

main {
    flex: 4;
    color: white;
    padding: 60px;
}

label {
    font-size: larger;
    color: white;
}

input {
    margin-left: 10px;
    padding-left: 8px;
    width: 200px;
    border-radius: 5px;
    border-color: transparent;
}

button {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    border-color: transparent;
}

button:hover {
    background-color: #ddd;
}

::placeholder {
    color: black;
    opacity: 0.3;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

p a {
    text-decoration: none;
    color: cornflowerblue;
}

#curriculum {
    margin-top: 20px;
    text-align: center;
    text-decoration-color: white;
}

#curriculum td, th {
    border: 1px solid white;
}

#curriculum td {
    padding: 10px;
}

#curriculum th {
    background-color:rgba(0, 0, 0, 0.2);
}

#curriculum td:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}
  
.close {
    position: absolute;
    right: 20px;
    top: 0;
    color: #aaa;
    font-size: 50px;
    font-weight: regular;
    /* cursor: pointer; */
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#popupTable {
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
}
  
#popupTable th,
#popupTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
  
#popupTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}
  
#popupTable tr:hover {
    background-color: #ddd;
}